body{
    /* border: 1px solid gray; */
}
.top, .bottom{
    /* border: 1px solid red; */
    height: 55px;
}

.main_body{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 98vh;
    width: 50vh;
    margin: 0 auto;
    padding: 5px 0px;
}

.content{
    flex: 1;
    /* border: 1px solid red; */
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
}
.app_content_body{
    /* border: 1px solid gray; */
    flex: 1;
    background-color: rgb(253, 251, 247);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    overflow-y: scroll;
    padding: 15px;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5a545c;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.top_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all linear .3s;
    /* border: 1px solid gray; */
    margin: 5px;
    background-color: rgb(250, 247, 244);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);

}
/* .top_content>div{
    box-sizing: border-box;
    border: 1px solid red;
} */
.top_content .left{
    width: 30px;
}
.top_content .left a{
    line-height: 36px;
    text-align: center;
    display: block;
    padding-left: 10px;
}
.top_content .mid{
    flex: 1;
    padding: 5px 15px;
}
.top_content .mid form{
    position: relative;
    height: 100%;
    width: 100%;
}
.top_content .mid input{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 15px;
    box-sizing: border-box;
}
.top_content .mid #button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.top_content .right{
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
}

.top_content .right img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 2px;
}


/* .bottom>div{
    box-sizing: border-box;
    border: 1px solid red;
} */
.bottom{
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-between;
    /* border: 1px solid gray; */
    height: 40px;
    width: 100%;
    /* background-color: seashell; */
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}
.bottom ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
    margin: 0;
    padding: 2px 0px;
}
.bottom ul li{
    /* border: 1px solid red; */
    
}
.bottom ul li a{
    text-decoration: none;
    width: 100%;
    margin: 0px 13.5px;
    /* padding: 2px 0px; */
    text-align: center;
    display: block;
    color: rgb(24, 22, 22);
    transition: all linear .3s;
}
.bottom ul li a:hover{
    color: rgb(76, 13, 223);
    background-color: bisque;
}
.bottom ul li a .active{
    color: rgb(30, 30, 143);
}
.bottom ul li a i{
    
}
.bottom ul li a span{
    display: flex;
    font-family: 'oswald';
    color: black;
    display: block;
    font-size: 12px;
    
}